<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            
            <!-- 학력 -->
            <div class="about-subsection">
                <h3 class="about-subsection-title">University</h3>
                <div class="education-item">
                    <div class="experience-title">인공지능 사이버보안학과 </div>
                    <div class="experience-company">고려대학교 <br> 2023 - 2025 수료 (졸업 전환예정)</div>
                </div>
                <div class="education-item">
                    <div class="experience-title">컴퓨터 공학과 </div>
                    <div class="experience-company">군산대학교 <br> 2021 - 2023 중퇴 (타대학 편입)<br> DAD연구실 근무</div>
                </div>
                <div class="education-item">
                    <div class="experience-title">대외한어학과 </div>
                    <div class="experience-company">상하이 대학교 <br> 2016 - 2017 수료</div>
                </div>
            </div>

            <!-- 추가 학력 -->
            <div class="about-subsection">
                <h3 class="about-subsection-title"> Education</h3>
                <div class="education-item">
                    <div class="experience-title">[K-Digital Training] [토스뱅크]사이버보안 엔지니어부트캠프</div>
                    <div class="experience-company">multicampus <br> 2025.09~2026.02 수료</div>
                    <p class="paragraph-text-normal">- 모의해킹(공격 관점) 실습: 취약점 관점 점검/실전 공격, 방어<br>- 침해사고 분석 및 대응: 침해사고 서버 분석과 대응 </p>
                </div>
            </div>

            <!-- 이력 -->
            <div class="about-subsection">
                <h3 class="about-subsection-title">Career</h3>
                <div class="experience-item">
                    <div class="experience-title">UNIFIL PKO</div>
                    <div class="experience-company">동명부대(레바논) <br> 2019.04 - 2019.12</div>
                    <p class="paragraph-text-normal">헌병 경호팀 <br>- 주요 인사 경호 수행. <br>- 부대 내 안전관리 및 예방활동.</p>
                </div>
            </div>
            
            <!-- 수상내역 -->
            <div class="about-subsection awards-section">
                <h3 class="about-subsection-title">Awards</h3>
                    <div class="awards-list">
                    <div class="award-item">
                    <div class="experience-title">제9 회 대한민국 SW 융복합 해커톤 대회</div>
                    <div class="experience-company">🎖️전북도지사상<br>2022.08, 한국방송통신위원회</div>
                    <p class="paragraph-text-normal">
                        - Yolov5 를 활용한 시각장애인 보조장치 구현 <br>
                        - Docker를 활용한 모델 학습 서버 구축(CVAT)<br>
                        - 학습 데이터 제작 및 탐지모델 제작.
                    </p>
                    </div>

                    <div class="award-item">
                    <div class="experience-title">T-SUM 데이터 분석/인공지능 경진대회</div>
                    <div class="experience-company">🎖️최우수상<br>2024.12, 교내 경진대회</div>
                    <p class="paragraph-text-normal">
                        - 이커머스 데이터 기반 개인화 추천 시스템 설계 및 구현 <br>
                        - 학습 데이터 리서치<br>
                        - ML모델링 멘토로 활동.
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
